<% layout('layout/main.ejs') %>
<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Insert Email">
  <input type="password" name="password" placeholder="Insert Password">

  <button type="submit">
    login
  </button>
</form>